html {
    font-family: 'Lato', sans-serif;
    padding: 0 2vw;
    font-size: 16px;
    background-color: #F5F5F5;
    color: #5b5851;
}

.container {
    display: grid;
    block-size: 100vh;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows:  1fr 1fr;
}

.item {
    background-color: rgb(190, 58, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border: 2px solid #ccc;
}

.cowboy {
 grid-column: span 2;
}

.astronout {
background-color:aqua;
grid-row: 2;
grid-column: span 2;
}

.book {

}