html {
    font-family: 'Lato', sans-serif;
    padding: 0 2vw;
    font-size: 36px;
    background-color: #F5F5F5;
    color: #5b5851;
}

.container {
    display: flex;
    gap: 0.1rem;
}

.container  * {
    border: 2px solid black;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 1;
    /*importance: content witdh < width < flex-basis < min-width/max-width*/
}