html {
    font-family: 'Lato', sans-serif;
    color: #3d3232;
    font-size: 24px;
}

.header {
    margin-block-start: 5vw;   
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    border-radius: 50%;
    block-size: 256px;
    margin-block-start: 2vw;
}

p {
    font-weight: 300;
    line-height: 1.4;
    max-width: 24em;
}

.card-photo {
    float: left;
    block-size: 64px;   
    margin-inline-end: 1rem;
}

.card-text {
    margin-top: 0;
}


footer {
    background-color: #414141;
    color: whitesmoke;
}
