.flag {
    background-color: red;
    block-size: 600px;
    inline-size: 900px;
    position: relative;
}

.middle {
    background-color: blue;
    inline-size: 100%;
    block-size: 300px;
    position: absolute;
    top: 150px;
}

.circle {
    border-radius: 50%;
    background-color: azure;
    block-size: 200px;
    inline-size: 200px;
    position: absolute;
    top: 50px;
    left: 350px;
}

p {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 5rem;
}

#p1 {
    color: black;
    position: relative;
}

