html {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    inline-size: 18rem;
}

img {
    max-width: 20%;
    max-height: 200px;
}