html {
    font-family: 'Lato', sans-serif;
    padding: 0 5vw;
    font-size: 36px;
    background-color: #F5F5F5;
    color: #5b5851;
}

body{
    max-width: 25vw;
    padding: 2.5vw;
}

.box {
    inline-size: 500px;
    block-size: 300px;
    border: 2px solid black;
    background-color: rgba(70, 70, 244, 0.829);
    position: relative;
    top: 200px;
    left: 200px;
}
.circle {
    background-color: rgb(231, 90, 90);
    block-size: 200px;
    inline-size: 200px;
    border-radius: 50%;
    position: absolute;
    left: 250px;
    top: 150px;
}
